{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="BenFitzgerald">
            <article>
                <div class="content">
                    <h1>Ben Fitzgerald</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ path }}/images/BenFitzgerald.jpg">

                    <a target="_blank" href="http://www.awakeningeurope.com"
                       class="button">awakeningeurope.com</a>
                </div>

                <div class="right">

                    {{ 'presentation.BenFitzgerald'|trans|raw }}

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}