{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="BenFitzgerald">
            <article>
                <div class="content">
                    <h1>Ben Fitzgerald</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('images/BenFitzgerald.jpg') }}">

                    <a target="_blank" href="http://www.awakeningeurope.com"
                       class="button">awakeningeurope.com</a>
                </div>

                <div class="right">

                    <p>Ben Fitzgerald is a Pastor at Bethel Church in Redding California. Originally from Melbourne,
                        Australia, He met Jesus in an encountered that deeply changed him late in 2002 whilst he was
                        dealing drugs. Since then Ben has lived passionately about one thing, showing the world Jesus in
                        his everyday life and taking the good news of the Kingdom to the nations. As he travels
                        extensively, Ben loves to help people live in Gods fullness of freedom and identity. He is the
                        founder of the Empowered Evangelists network and Godfest ministries Inc, and has a deep
                        conviction that the future of Europe will be transformed by radical believers living free and
                        proclaiming Jesus boldly. He also enjoys to prank people, don't leave your food around him too
                        long. You can check out some his adventures with God on youtube.</p>

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}