{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="CarlosPayan">
            <article>
                <div class="content">
                    <h1>Carlos Payan</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('conference/images/CarlosPayan.jpg') }}">

                    <a target="_blank" href="http://www.paristoutestpossible.com"
                       class="button">paristoutestpossible.com</a>
                </div>

                <div class="right">

                    <p>Prophetic and exhortation ministry, Carlos leads with success in Paris healing services and has a
                        lot of wonderful testimonies. Appreciated for his simplicity and his humor, he likes to compel
                        us to love and serve God more than everything else. His passion for revival will question you!
                        He is the founder of the ministry called Paris Tout Est Possible (Paris Everything is
                        Possible).</p>

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}