{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="HeidiBaker">
            <article>
                <div class="photo"></div>
                <div class="content">
                    <h1>Heidi Baker</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>
                <p>Heidi Baker, born 1959 is a Christian missionary and with her husband Rolland are founders of Iris
                    Global and the author of several books.</p>

                <p>With her husband Rolland, Heidi founded IRIS Ministries in 1980, a non-profit Christian ministry
                    dedicated to Jesus and service, especially among the poor. In 1992, after twelve years ministering
                    in Asia, they left to obtain PhD's at King's College London, UK. In 1995 they started a new ministry
                    to the poor and homeless children in Mozambique.</p>

                <p>Beginning with nothing, within a matter of months they were given a dilapidated orphanage in Maputo
                    with 80 children. From there, the ministry has expanded to include well-drilling, free health
                    clinics that service the poor and sick, feeding programs, primary and secondary schools, cottage
                    industries and now over 5000 churches in Mozambique and a total of over 10,000 churches in over 20
                    nations. There are multiple 'bases' with Bible schools, as well as community outreaches and
                    top-ranked public schools. In September 2008 Iris Ministries started a well digging project in
                    Northern Mozambique.</p>

                <p>Their ministry is known for its reports of miracles, and in September 2010 the Southern Medical
                    Journal published an article presenting evidence of "significant improvements" in auditory and
                    visual function among subjects exhibiting impairment before receiving prayer from the ministry.</p>

                <p>Originally from Southern California, the Bakers are now based full-time in Pemba, Mozambique. They
                    also travel to various places around the world to share their story, and to teach about God's love
                    and what love in action looks like. The core value and message of the Bakers ministry is God's love.
                    Rolland Baker is the grandson of missionary H.A. Baker. Candy Gunther Brown, professor of religious
                    studies at Indiana University, has called the Bakers "among the most influential leaders in world
                    Pentecostalism"</p>
                <a target="_blank" href="http://www.irisglobal.org" class="button">www.irisglobal.org</a>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}