{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="Jean-MichelTour">
            <article>
                <div class="content">
                    <h1>Jean-Michel Tour</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('conference/images/Jean-MichelTour.jpg') }}">

                    <a target="_blank" href="http://www.diocese-frejus-toulon.com"
                       class="button">diocese-frejus-toulon.com</a>
                </div>

                <div class="right">

                    <p>Youngest son of three children, and from a catholic education, Father Jean-Michel Tour began
                        perceiving the call of the Lord in 1986 which was clear in 1989 in a school of evangelization.
                        In 1999 he has decided to join the diocese of Toulon (France) and integrated La Castille
                        (France) and was ordained a priest in 2003.</p>

                    <p>His call appeared in the Charismatic Revival; he lives his ministry being sensible to the Holy
                        Spirit and the presence of Jesus. He likes experimenting His fire and works so that it sets fire
                        in the hearts.</p>

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}