{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="Jean-LucTrachsel">
            <article>
                <div class="content">
                    <h1>Jean-Luc Trachsel</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('conference/images/Jean-LucTrachsel.jpg') }}">

                    <a target="_blank" href="http://healing-ministries.org"
                       class="button">healing-ministries.org</a>
                </div>

                <div class="right">

                    <p>Since his early age, God called him to bring His Word with a demonstration of power. He has
                        travelled over the five continents, has visited more than 50 nations and was able to share the
                        Gospel to all kind of circumstances and situations. Visionnary and entrepreneur, he believes
                        that NOTHING IS IMPOSSIBLE. He works actively to bring unity among the Christians to proclaim
                        the Gospel with mercy and compassion to this generation. His sensibility to the Spirit allows
                        the manifestation of the supernatural with signs, miracles, healings and the salvation.</p>

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}