{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="MatthiasKuhn">
            <article>
                <div class="content">
                    <h1>Matthias "Kuno" Kuhn</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('images/MatthiasKuhn.jpg') }}">

                    <a target="_blank" href="http://www.gpmc.ch"
                       class="button">www.gpmc.ch</a>
                </div>

                <div class="right">

                    <p>Leader of G-Movement and the Aussendungshaus (house of mission) Thun in Switzerland.</p>

                    <p>Kuno is pastor GPMC and a shoe shop assistant. Moreover he is a co-founder and co-leader of the
                        Aussendungshaus (house of mission) in Thun, where young people are taught and prepared to go
                        everywhere in Switzerland and abroad in order to found new Christian congregations. He is eager
                        that Heaven may open on this earth in every place and any domain of human community and in every
                        personal life. Kuno’s fresh, direct and uncompromising manner of living as Jesus and his
                        disciples did, causes us to learn more.</p>

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}