{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="MichaelKoulianos">
            <article>
                <div class="photo"></div>
                <div class="content">
                    <h1>Michael Koulianos</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>


                <p>Evangelist, Author and co-host of Jesus Image's TV program "Living for Jesus", was born in Tarpon
                    Springs, Florida. He gave his heart to Jesus Christ at the age of 12. That same year he preached his
                    first message.</p>

                <p>At the age of 16, in a school founded by his parents, Theo and Evelyn Koulianos, Michael started a
                    meeting with 6 students. Within a few weeks, these services grew to capacity crowds as the Holy
                    Spirit began to draw young people from all denominations and backgrounds to Jesus Christ. Hundreds
                    of lives were changed during these amazing gatherings.</p>

                <p>Michael married his wife Jessica in 2004. Shortly thereafter, he was ordained into the ministry. He
                    has assisted in some of the largest evangelistic meetings in history, with millions in attendance.
                    In 2005, he was given the privilege of being the lead Pastor of World Healing Center Church in
                    Orange County, California.</p>

                <p>After a series of supernatural events, in October of 2007, Michael’s life was forever changed in a
                    church in Westport, CT. It was here that the power of God overwhelmed him like it did when he was a
                    twelve year old. Now Michael has one desire to love Jesus and introduce Him to as many people as
                    possible. He believes that Jesus is the only answer to all of our needs. His life’s call is to be
                    used of God to reveal His Son to the world by the Power of the Holy Spirit.</p>

                <p>This would eventually lead to the founding of Jesus Image, the evangelistic ministry of the Koulianos
                    family. Jesus Image is focused on winning cities, nations and the world with the Gospel of Jesus
                    Christ. Michael now travels the world ministering the Good News of Jesus Christ to the lost, praying
                    for the sick and teaching the Word of God. The Lord is confirming His word with notable signs
                    following. Thousands have come to Jesus and multitudes have been healed by the Power of God. Both
                    Michael and Jessica frequently appear on worldwide television. He is also the author of the
                    life-changing book – The Jesus Book</p>

                <a target="_blank" href="http://www.jesusimage.tv"
                   class="button">www.jesusimage.tv</a>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}