{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="NicolasButtet">
            <article>
                <div class="content">
                    <h1>Nicolas Buttet</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('conference/images/NicolasButtet.jpg') }}">

                    <a target="_blank" href="http://eucharistein.org"
                       class="button">eucharistein.org</a>
                </div>

                <div class="right">

                    <p>Young intellectual promised to a beautiful career of politician and lawyer in Switzerland,
                        youngest deputy in the 80s, it is finally to God who Nicolas Buttet chose to dedicate his life.
                        Corridors of Vatican to the foundation of the Brotherhood Eucharistein, where he welcomes people
                        in great difficulty, via hermit's life in the canton of Valais, Nicolas Buttet delivers us
                        fruits of his rich experience particularly centered on the Eucharist.</p>

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}