{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="PaulManwaring">
            <article>
                <div class="photo"></div>
                <div class="content">
                    <h1>Paul Manwaring</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <p>Paul Manwaring is a pastor and a member of the Senior Management Team at Bethel Church. His primary
                    responsibilities are to oversee Global Legacy, an apostolic relational network of revival leaders,
                    and
                    to equip and deploy revivalists through his oversight of the Third Year program in Bethel’s School
                    of
                    Supernatural Ministry. Paul truly carries the gift of administration/government and releases that
                    power
                    and wisdom through his Supernatural Strategic Planning Workshops, his itinerant ministry, and his
                    teaching at BSSM. His passion is to see the Bride prepared, glorious sons and daughters revealed,
                    cancer
                    destroyed, and cities transformed as the government of Heaven is established on earth. After a
                    career in
                    senior prison management in England, Paul came to Bethel in 2001. He holds a master’s degree in
                    Management from Cambridge University and is a Registered General and Psychiatric Nurse.</p>
                <a target="_blank" href="http://www.paulmanwaring.com" class="button">paulmanwaring.com</a>

            </article>
        </section>


    {% endspaceless %}
{% endblock %}