{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="PhilipMantofa">
            <article>
                <div class="content">
                    <h1>Philip Mantofa</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('images/PhilipMontofa.jpg') }}">

                    <a target="_blank" href="http://www.philipmantofa.com"
                       class="button">philipmantofa.com</a>
                </div>

                <div class="right">

                    <p>Pastor Philip Mantofa graduated in theology from Columbia Bible College, British Columbia,
                        Canada.
                        Since 1998, he has been serving in Mawar Sharon Church, a growing church of 30,000 in Indonesia.
                        Currently, he is the Assistant Head of Gereja Mawar Sharon Denomination, which has a network of
                        70
                        local churches. Since his younger age, he has led more than 100,000 souls to Christ. He has been
                        miraculously healed of brain damages and legs problem. His passion is to ignite the fire within
                        the
                        younger generation to become Christian leaders all around Asia. Moreover, he has a burning
                        desire to
                        see nations experience and encounter the love of Jesus Christ. His Christian TV program,
                        “Before30”
                        is aired weekly on Global TV, TBN Pacific and many other TV stations, reaching out to
                        millions.</p>

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}