{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="ToddWhite">
            <article>
                <div class="photo"></div>
                <div class="content">
                    <h1>Todd White</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                {{ 'presentation.ToddWhite'|trans|raw }}

                <a target="_blank" href="http://www.lifestylechristianity.com"
                   class="button">lifestylechristianity.com</a>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}