{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="ToddWhite">
            <article>
                <div class="photo"></div>
                <div class="content">
                    <h1>Todd White</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <p>TODD WHITE was a drug addict and atheist for 22 years when in 2004 He was radically set free!
                    Redemption and righteousness are the foundation and the keys to the new creation reality that we are
                    to live in and from. God has simply opened Todd’s eyes to this truth and that Holy Spirit wants to
                    flow through every believer everywhere we go, at work, school, grocery stores, malls, gas stations,
                    everywhere. His true joy is being able to reproduce in people the simplicity of this reality, in a
                    24/7 kingdom lifestyle! This is for every believer!</p>

                <p>His heart is activating people into the simplicity of who they really are and destroying lies that
                    hold people back from being who God created them to be.</p>

                <p>No one is excluded!</p>
                <a target="_blank" href="http://www.lifestylechristianity.com"
                   class="button">lifestylechristianity.com</a>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}