{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="UrbanCamenzind">
            <article>
                <div class="content">
                    <h1>Urban Camenzind</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('images/UrbanCamenzind.jpg') }}">

                    <a target="_blank" href="http://www.mariahilfkirche.ch"
                       class="button">mariahilfkirche.ch</a>
                </div>

                <div class="right">

                    <p>Urban Camenzind is a deacon. Having studied the sociology and having worked with the disabled
                        people, he made a powerful encounter with Jesus Christ who woke him up and opened him to new
                        living dimension of faith! After that he studied the catholic theology, and then was dedicated
                        deacon.</p>

                    <p>His biggest desire is to present this Gospel which liberates to the people of our time. So, he
                        gets involved in the Catholic Church for the charismatic revival and for the unity of the
                        Christian communities.</p>

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}