{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="HeidiBaker">
            <article>
                <div class="photo"></div>
                <div class="content">
                    <h1>Heidi Baker</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                {{ 'presentation.HeidiBaker'|trans|raw }}

                <a target="_blank" href="http://www.irisglobal.org" class="button">www.irisglobal.org</a>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}