{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="NicolasButtet">
            <article>
                <div class="content">
                    <h1>Nicolas Buttet</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('images/NicolasButtet.jpg') }}">

                    <a target="_blank" href="http://eucharistein.org"
                       class="button">eucharistein.org</a>
                </div>

                <div class="right">

                    {{ 'presentation.NicolasButtet'|trans|raw }}

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}