{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="PeterWenz">
            <article>
                <div class="content">
                    <h1>Peter Wenz</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('images/PeterWenz.jpg') }}">

                    <a target="_blank" href="http://gospel-forum.de"
                       class="button">gospel-forum.de</a>
                </div>

                <div class="right">

                    {{ 'presentation.PeterWenz'|trans|raw }}

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}