{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="PhilipMantofa">
            <article>
                <div class="content">
                    <h1>Philip Mantofa</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ asset('images/PhilipMantofa.jpg') }}">

                    <a target="_blank" href="http://www.philipmantofa.com"
                       class="button">philipmantofa.com</a>
                </div>

                <div class="right">

                    {{ 'presentation.PhilipMantofa'|trans|raw }}

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}