{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="WernerLehmann">
            <article>
                <div class="content">
                    <h1>Werner Lehmann</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <div class="left">
                    <img src="{{ path }}/images/WernerLehmann.jpg">

                    <a target="_blank" href="http://www.ee-oron.ch"
                       class="button">ee-oron.ch</a>
                </div>

                <div class="right">

                    {{ 'presentation.WernerLehmann'|trans|raw }}

                </div>
            </article>
        </section>


    {% endspaceless %}
{% endblock %}