{% extends "::layout.html.twig" %}

{% block body %}

    {% spaceless %}


        <section class="speaker page" id="thanks">
            <article>
                <div class="content">
                    <h1>Thanks</h1>
                </div>
            </article>
        </section>

        <section class="content">
            <article>

                <p>{{ message }}</p>

                <a href="{{ path('iahm_page_home') }}"
                   class="button">Back to the home page</a>

            </article>
        </section>


    {% endspaceless %}
{% endblock %}