/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal; }

fieldset, iframe {
  border: none; }

caption, th {
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

@font-face {
  font-family: 'titilliumblack';
  src: url("../fonts/titillium-black-webfont.eot");
  src: url("../fonts/titillium-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-black-webfont.woff2") format("woff2"), url("../fonts/titillium-black-webfont.woff") format("woff"), url("../fonts/titillium-black-webfont.ttf") format("truetype"), url("../fonts/titillium-black-webfont.svg#titilliumblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titillium_bdbold';
  src: url("../fonts/titillium-bold-webfont.eot");
  src: url("../fonts/titillium-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-bold-webfont.woff2") format("woff2"), url("../fonts/titillium-bold-webfont.woff") format("woff"), url("../fonts/titillium-bold-webfont.ttf") format("truetype"), url("../fonts/titillium-bold-webfont.svg#titillium_bdbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titillium_bdbold_italic';
  src: url("../fonts/titillium-bolditalic-webfont.eot");
  src: url("../fonts/titillium-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-bolditalic-webfont.woff2") format("woff2"), url("../fonts/titillium-bolditalic-webfont.woff") format("woff"), url("../fonts/titillium-bolditalic-webfont.ttf") format("truetype"), url("../fonts/titillium-bolditalic-webfont.svg#titillium_bdbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumbold_upright';
  src: url("../fonts/titillium-boldupright-webfont.eot");
  src: url("../fonts/titillium-boldupright-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-boldupright-webfont.woff2") format("woff2"), url("../fonts/titillium-boldupright-webfont.woff") format("woff"), url("../fonts/titillium-boldupright-webfont.ttf") format("truetype"), url("../fonts/titillium-boldupright-webfont.svg#titilliumbold_upright") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumlight';
  src: url("../fonts/titillium-light-webfont.eot");
  src: url("../fonts/titillium-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-light-webfont.woff2") format("woff2"), url("../fonts/titillium-light-webfont.woff") format("woff"), url("../fonts/titillium-light-webfont.ttf") format("truetype"), url("../fonts/titillium-light-webfont.svg#titilliumlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumlight_italic';
  src: url("../fonts/titillium-lightitalic-webfont.eot");
  src: url("../fonts/titillium-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-lightitalic-webfont.woff2") format("woff2"), url("../fonts/titillium-lightitalic-webfont.woff") format("woff"), url("../fonts/titillium-lightitalic-webfont.ttf") format("truetype"), url("../fonts/titillium-lightitalic-webfont.svg#titilliumlight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumlight_upright';
  src: url("../fonts/titillium-lightupright-webfont.eot");
  src: url("../fonts/titillium-lightupright-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-lightupright-webfont.woff2") format("woff2"), url("../fonts/titillium-lightupright-webfont.woff") format("woff"), url("../fonts/titillium-lightupright-webfont.ttf") format("truetype"), url("../fonts/titillium-lightupright-webfont.svg#titilliumlight_upright") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumregular';
  src: url("../fonts/titillium-regular-webfont.eot");
  src: url("../fonts/titillium-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-regular-webfont.woff2") format("woff2"), url("../fonts/titillium-regular-webfont.woff") format("woff"), url("../fonts/titillium-regular-webfont.ttf") format("truetype"), url("../fonts/titillium-regular-webfont.svg#titilliumregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumitalic';
  src: url("../fonts/titillium-regularitalic-webfont.eot");
  src: url("../fonts/titillium-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-regularitalic-webfont.woff2") format("woff2"), url("../fonts/titillium-regularitalic-webfont.woff") format("woff"), url("../fonts/titillium-regularitalic-webfont.ttf") format("truetype"), url("../fonts/titillium-regularitalic-webfont.svg#titilliumitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumregular_upright';
  src: url("../fonts/titillium-regularupright-webfont.eot");
  src: url("../fonts/titillium-regularupright-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-regularupright-webfont.woff2") format("woff2"), url("../fonts/titillium-regularupright-webfont.woff") format("woff"), url("../fonts/titillium-regularupright-webfont.ttf") format("truetype"), url("../fonts/titillium-regularupright-webfont.svg#titilliumregular_upright") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumbold';
  src: url("../fonts/titillium-semibold-webfont.eot");
  src: url("../fonts/titillium-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-semibold-webfont.woff2") format("woff2"), url("../fonts/titillium-semibold-webfont.woff") format("woff"), url("../fonts/titillium-semibold-webfont.ttf") format("truetype"), url("../fonts/titillium-semibold-webfont.svg#titilliumbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumbold_italic';
  src: url("../fonts/titillium-semibolditalic-webfont.eot");
  src: url("../fonts/titillium-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/titillium-semibolditalic-webfont.woff") format("woff"), url("../fonts/titillium-semibolditalic-webfont.ttf") format("truetype"), url("../fonts/titillium-semibolditalic-webfont.svg#titilliumbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumsemibold_upright';
  src: url("../fonts/titillium-semiboldupright-webfont.eot");
  src: url("../fonts/titillium-semiboldupright-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-semiboldupright-webfont.woff2") format("woff2"), url("../fonts/titillium-semiboldupright-webfont.woff") format("woff"), url("../fonts/titillium-semiboldupright-webfont.ttf") format("truetype"), url("../fonts/titillium-semiboldupright-webfont.svg#titilliumsemibold_upright") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumthin';
  src: url("../fonts/titillium-thin-webfont.eot");
  src: url("../fonts/titillium-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-thin-webfont.woff2") format("woff2"), url("../fonts/titillium-thin-webfont.woff") format("woff"), url("../fonts/titillium-thin-webfont.ttf") format("truetype"), url("../fonts/titillium-thin-webfont.svg#titilliumthin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumthin_italic';
  src: url("../fonts/titillium-thinitalic-webfont.eot");
  src: url("../fonts/titillium-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-thinitalic-webfont.woff2") format("woff2"), url("../fonts/titillium-thinitalic-webfont.woff") format("woff"), url("../fonts/titillium-thinitalic-webfont.ttf") format("truetype"), url("../fonts/titillium-thinitalic-webfont.svg#titilliumthin_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titilliumthin_upright';
  src: url("../fonts/titillium-thinupright-webfont.eot");
  src: url("../fonts/titillium-thinupright-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-thinupright-webfont.woff2") format("woff2"), url("../fonts/titillium-thinupright-webfont.woff") format("woff"), url("../fonts/titillium-thinupright-webfont.ttf") format("truetype"), url("../fonts/titillium-thinupright-webfont.svg#titilliumthin_upright") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CaeciliaLTPro-55Roman';
  src: url("../fonts/2F483F_0_0.eot");
  src: url("../fonts/2F483F_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2F483F_0_0.woff2") format("woff2"), url("../fonts/2F483F_0_0.woff") format("woff"), url("../fonts/2F483F_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'CaeciliaLTPro-75Bold';
  src: url("../fonts/2F483F_1_0.eot");
  src: url("../fonts/2F483F_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2F483F_1_0.woff2") format("woff2"), url("../fonts/2F483F_1_0.woff") format("woff"), url("../fonts/2F483F_1_0.ttf") format("truetype"); }
/** regular **/
/** italic **/
/** upright **/
html, body {
  color: #434343;
  font-family: "CaeciliaLTPro-55Roman", "titilliumregular", Arial, Helvetica, Verdana sans-serif;
  font-size: 14px;
  transform-style: preserve-3d;
  background-color: #131313; }

header {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; }
  header ul {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1000; }
    header ul li {
      display: inline-block;
      line-height: 26px;
      margin: 20px 0 0 0;
      padding: 2px 13px 0 7px;
      border-right: 2px solid rgba(255, 255, 255, 0.9); }
      header ul li:last-of-type {
        border-right: none; }
      header ul li a {
        color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
        font-size: 0.9em; }
        header ul li a:hover {
          color: #FFFFFF; }

section.page {
  max-width: 2000px;
  margin: 0 auto; }
  section.page section {
    display: block;
    width: 100%; }
    section.page section article {
      width: 100%;
      max-width: 900px;
      margin: 0 auto; }
  section.page section.header {
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    display: block; }
    section.page section.header .logo_conf {
      width: 500px;
      height: 500px;
      display: block;
      margin: 0 auto;
      position: relative;
      background-image: url("../images/logo_conf.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
    section.page section.header .logo_conf1 {
      width: 160px;
      height: 160px;
      display: block;
      position: absolute;
      background-image: url("../images/logo_conf_1.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      top: 17%;
      left: 50%;
      margin-left: -80px; }
    section.page section.header .logo_conf2 {
      width: 500px;
      height: 200px;
      display: block;
      position: absolute;
      background-image: url("../images/logo_conf_2.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      top: 40%;
      left: 50%;
      margin-left: -250px; }
  section.page section.details,
  section.page section.registration {
    background-image: url("../images/bg_light.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #434343;
    padding: 90px 0; }
  section.page section.details h1 {
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px; }
    section.page section.details h1 span {
      border: 4px solid #434343;
      line-height: 2em;
      font-size: 3em;
      padding: 12px 12px 2px 12px; }
      section.page section.details h1 span sup {
        font-size: 0.5em; }
  section.page section.details h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em; }
  section.page section.registration h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: "CaeciliaLTPro-75Bold", "CaeciliaLTPro-55Roman", "titilliumregular", Arial, Helvetica, Verdana sans-serif; }
  section.page section.speakers .speaker {
    display: block;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #434343; }
    section.page section.speakers .speaker.solo {
      height: 300px; }
      section.page section.speakers .speaker.solo .content {
        bottom: 10%;
        position: absolute; }
        section.page section.speakers .speaker.solo .content h1 {
          text-transform: uppercase;
          color: #FFFFFF;
          font-size: 2.4em;
          font-family: "CaeciliaLTPro-75Bold", "CaeciliaLTPro-55Roman", "titilliumregular", Arial, Helvetica, Verdana sans-serif;
          line-height: 60px;
          text-align: center; }
        section.page section.speakers .speaker.solo .content a.button {
          background-color: #FFFFFF;
          color: #434343;
          line-height: 20px;
          padding: 7px 5px 2px 5px;
          text-decoration: none;
          font-size: 1.2em;
          display: inline-block;
          text-align: center; }
      section.page section.speakers .speaker.solo .photo {
        display: block;
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        float: left; }
      section.page section.speakers .speaker.solo#HeidiBaker {
        background-image: url("../images/background1.jpg"); }
        section.page section.speakers .speaker.solo#HeidiBaker .photo {
          background-image: url("../images/HeidiBaker.png"); }
        section.page section.speakers .speaker.solo#HeidiBaker .content {
          left: 37%;
          right: inherit; }
      section.page section.speakers .speaker.solo#PaulManwaring {
        background-image: url("../images/background2.jpg"); }
        section.page section.speakers .speaker.solo#PaulManwaring .photo {
          float: right;
          background-image: url("../images/PaulManwaring.png"); }
        section.page section.speakers .speaker.solo#PaulManwaring a.button {
          float: right; }
        section.page section.speakers .speaker.solo#PaulManwaring .content {
          right: 36%;
          left: inherit; }
      section.page section.speakers .speaker.solo#ToddWhite {
        background-image: url("../images/background3.jpg"); }
        section.page section.speakers .speaker.solo#ToddWhite .photo {
          width: 500px;
          background-image: url("../images/ToddWhite.png"); }
        section.page section.speakers .speaker.solo#ToddWhite a.button {
          float: left; }
        section.page section.speakers .speaker.solo#ToddWhite .content {
          left: 42%;
          right: inherit; }
      section.page section.speakers .speaker.solo#MichaelKoulianos {
        background-image: url("../images/background4.jpg"); }
        section.page section.speakers .speaker.solo#MichaelKoulianos .photo {
          float: right;
          background-image: url("../images/MichaelKoulianos.png"); }
        section.page section.speakers .speaker.solo#MichaelKoulianos a.button {
          float: right; }
        section.page section.speakers .speaker.solo#MichaelKoulianos .content {
          right: 37%;
          left: inherit; }
    section.page section.speakers .speaker.multi {
      background: #131313;
      text-align: center; }
      section.page section.speakers .speaker.multi article {
        display: inline-block;
        width: 20%;
        height: 220px;
        margin: 0;
        padding: 0;
        vertical-align: top;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; }
        section.page section.speakers .speaker.multi article#PhilipMantofa {
          background-image: url("../images/PhilipMantofa.jpg"); }
        section.page section.speakers .speaker.multi article#BenFitzgerald {
          background-image: url("../images/BenFitzgerald.jpg"); }
        section.page section.speakers .speaker.multi article#PeterWenz {
          background-image: url("../images/PeterWenz.jpg"); }
        section.page section.speakers .speaker.multi article#MatthiasKuhn {
          background-image: url("../images/MatthiasKuhn.jpg"); }
        section.page section.speakers .speaker.multi article#CarlosPayan {
          background-image: url("../images/CarlosPayan.jpg"); }
        section.page section.speakers .speaker.multi article#Jean-MichelTour {
          background-image: url("../images/Jean-MichelTour.jpg"); }
        section.page section.speakers .speaker.multi article#UrbanCamenzind {
          background-image: url("../images/UrbanCamenzind.jpg"); }
        section.page section.speakers .speaker.multi article#NicolasButtet {
          background-image: url("../images/NicolasButtet.jpg"); }
        section.page section.speakers .speaker.multi article#WernerLehmann {
          background-image: url("../images/WernerLehmann.jpg"); }
        section.page section.speakers .speaker.multi article#Jean-LucTrachsel {
          background-image: url("../images/Jean-LucTrachsel.jpg"); }
        section.page section.speakers .speaker.multi article:hover a.black {
          background-color: rgba(19, 19, 19, 0.6); }
        section.page section.speakers .speaker.multi article:hover section {
          bottom: 10%; }
        section.page section.speakers .speaker.multi article:hover div.button {
          margin-top: 30px;
          display: inline-block; }
        section.page section.speakers .speaker.multi article a.black {
          background-color: rgba(19, 19, 19, 0.2);
          height: 100%;
          display: block;
          width: 100%; }
        section.page section.speakers .speaker.multi article section {
          width: 100%;
          margin: 0;
          text-align: center;
          position: absolute;
          bottom: 5%; }
          section.page section.speakers .speaker.multi article section h1 {
            text-align: center;
            color: #FFFFFF;
            font-size: 1.4em;
            text-transform: uppercase;
            font-family: "CaeciliaLTPro-75Bold", "CaeciliaLTPro-55Roman", "titilliumregular", Arial, Helvetica, Verdana sans-serif; }
          section.page section.speakers .speaker.multi article section div.button {
            display: none;
            background-color: #FFFFFF;
            color: #434343;
            line-height: 20px;
            padding: 7px 5px 2px 5px;
            text-decoration: none;
            font-size: 1.2em;
            text-align: center; }
  section.page section.getInfo {
    background-image: url("../images/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 0; }
    section.page section.getInfo h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 2em;
      font-family: "CaeciliaLTPro-75Bold", "CaeciliaLTPro-55Roman", "titilliumregular", Arial, Helvetica, Verdana sans-serif;
      color: #FFFFFF;
      margin-bottom: 20px; }
    section.page section.getInfo form {
      text-align: center; }
      section.page section.getInfo form input[type="email"] {
        line-height: 22px;
        background-color: rgba(255, 255, 255, 0.92);
        border: 1px solid #FFFFFF;
        color: #434343;
        font-family: "CaeciliaLTPro-55Roman", "titilliumregular", Arial, Helvetica, Verdana sans-serif;
        font-size: 1.2em;
        padding: 3px 5px 0px 5px;
        outline: none;
        margin-right: 20px; }
      section.page section.getInfo form input[type="submit"] {
        line-height: 23px;
        background-color: #FFFFFF !important;
        border: 1px solid #FFFFFF;
        color: #434343;
        font-family: "CaeciliaLTPro-55Roman", "titilliumregular", Arial, Helvetica, Verdana sans-serif;
        font-size: 1.2em;
        padding: 2px 5px 0px 5px;
        outline: none;
        cursor: pointer; }
  section.page section.speaker.page {
    display: block;
    width: 100%;
    height: 300px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("../images/background1.jpg"); }
    section.page section.speaker.page .photo {
      display: block;
      width: 300px;
      height: 300px;
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: contain;
      float: left; }
    section.page section.speaker.page .content {
      bottom: 10%;
      position: absolute; }
      section.page section.speaker.page .content h1 {
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 2.4em;
        font-family: "CaeciliaLTPro-75Bold", "CaeciliaLTPro-55Roman", "titilliumregular", Arial, Helvetica, Verdana sans-serif;
        line-height: 60px;
        text-align: center; }
      section.page section.speaker.page .content a.button {
        background-color: #FFFFFF;
        color: #434343;
        line-height: 20px;
        padding: 5px 5px 2px 5px;
        text-decoration: none;
        font-size: 1.2em;
        display: inline-block;
        text-align: center; }
    section.page section.speaker.page#HeidiBaker {
      background-image: url("../images/background1.jpg"); }
      section.page section.speaker.page#HeidiBaker .photo {
        background-image: url("../images/HeidiBaker.png"); }
      section.page section.speaker.page#HeidiBaker .content {
        left: 37%;
        right: inherit; }
    section.page section.speaker.page#PaulManwaring {
      background-image: url("../images/background2.jpg"); }
      section.page section.speaker.page#PaulManwaring .photo {
        float: right;
        background-image: url("../images/PaulManwaring.png"); }
      section.page section.speaker.page#PaulManwaring a.button {
        float: right; }
      section.page section.speaker.page#PaulManwaring .content {
        right: 35%;
        left: inherit; }
    section.page section.speaker.page#ToddWhite {
      background-image: url("../images/background3.jpg"); }
      section.page section.speaker.page#ToddWhite .photo {
        width: 500px;
        background-image: url("../images/ToddWhite.png"); }
      section.page section.speaker.page#ToddWhite a.button {
        float: left; }
      section.page section.speaker.page#ToddWhite .content {
        left: 42%;
        right: inherit; }
    section.page section.speaker.page#MichaelKoulianos {
      background-image: url("../images/background4.jpg"); }
      section.page section.speaker.page#MichaelKoulianos .photo {
        float: right;
        background-image: url("../images/MichaelKoulianos.png"); }
      section.page section.speaker.page#MichaelKoulianos a.button {
        float: right; }
      section.page section.speaker.page#MichaelKoulianos .content {
        right: 37%;
        left: inherit; }
    section.page section.speaker.page#PhilipMantofa {
      background-image: url("../images/background2.jpg"); }
    section.page section.speaker.page#BenFitzgerald {
      background-image: url("../images/background1.jpg"); }
    section.page section.speaker.page#PeterWenz {
      background-image: url("../images/background4.jpg"); }
    section.page section.speaker.page#MatthiasKuhn {
      background-image: url("../images/background2.jpg"); }
    section.page section.speaker.page#CarlosPayan {
      background-image: url("../images/background1.jpg"); }
    section.page section.speaker.page#Jean-MichelTour {
      background-image: url("../images/background3.jpg"); }
    section.page section.speaker.page#UrbanCamenzind {
      background-image: url("../images/background1.jpg"); }
    section.page section.speaker.page#NicolasButtet {
      background-image: url("../images/background1.jpg"); }
    section.page section.speaker.page#WernerLehmann {
      background-image: url("../images/background1.jpg"); }
    section.page section.speaker.page#Jean-LucTrachsel {
      background-image: url("../images/background1.jpg"); }
    section.page section.speaker.page#thanks {
      background-image: url("../images/background3.jpg"); }
  section.page section.content {
    color: #434343;
    padding: 90px 0 10px;
    font-size: 1.2em;
    background-color: #FFFFFF; }
    section.page section.content .left {
      width: 30%;
      margin-right: 3%;
      display: inline-block;
      vertical-align: top; }
    section.page section.content .right {
      width: 67%;
      display: inline-block;
      vertical-align: top; }
    section.page section.content img {
      width: 100%;
      margin: 12px 0 20px 0;
      display: block;
      float: left; }
    section.page section.content p {
      padding: 10px 0; }
    section.page section.content a.button {
      background-color: #434343;
      color: #FFFFFF;
      line-height: 20px;
      padding: 5px 5px 2px 5px;
      margin: 20px 20px 20px 0;
      text-decoration: none;
      font-size: 1.2em;
      display: inline-block;
      text-align: center;
      max-width: 100%; }

footer {
  background-image: url("../images/footer.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 100px;
  display: block;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto; }
  footer article {
    width: 100%;
    max-width: 900px;
    margin: 0 auto; }
    footer article h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.6em;
      font-family: "CaeciliaLTPro-55Roman", "titilliumregular", Arial, Helvetica, Verdana sans-serif;
      color: #434343;
      margin-bottom: 10px; }
      footer article h1 a {
        color: #434343;
        text-decoration: none; }
    footer article div.line {
      height: 2px;
      background-color: #434343;
      width: 70%;
      margin: 0 auto; }
    footer article ul.social {
      text-align: center;
      margin-top: 20px; }
      footer article ul.social li {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 1%;
        cursor: pointer; }
        footer article ul.social li a {
          width: 100%;
          height: 100%;
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain; }
        footer article ul.social li.facebook a {
          background-image: url("../images/facebook.svg"); }
        footer article ul.social li.twitter a {
          background-image: url("../images/twitter.svg"); }
        footer article ul.social li.instagram a {
          background-image: url("../images/instagram.svg"); }
        footer article ul.social li.youtube {
          width: 80px; }
          footer article ul.social li.youtube a {
            background-image: url("../images/youtube.svg"); }
    footer article #logo_iahm {
      display: block;
      width: 270px;
      height: 70px;
      margin: 0 auto 70px;
      background-image: url("../images/logo_iahm.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
      footer article #logo_iahm.fr {
        background-image: url("../images/logo_aimg.svg"); }

@media only screen and (max-width: 900px) {
  body section.page section.speakers .speaker.solo .content h1 {
    font-size: 1.8em;
    line-height: inherit;
    padding-bottom: 20px; }
  body section.page section.speakers .speaker.solo#HeidiBaker .content {
    left: 280px; }
  body section.page section.speakers .speaker.solo#PaulManwaring .content {
    right: 260px; }
  body section.page section.speakers .speaker.solo#ToddWhite .content {
    left: 320px; }
  body section.page section.speakers .speaker.solo#MichaelKoulianos .content {
    right: 260px; } }
@media only screen and (max-width: 500px) {
  body {
    font-size: 12px; }
    body section.page section.details {
      padding: 50px 0; }
      body section.page section.details article {
        width: 80%;
        padding: 0 10%; }
        body section.page section.details article h1 {
          font-size: 0.8em; }
    body section.page section.registration {
      padding: 50px 0; }
      body section.page section.registration article {
        width: 80%;
        padding: 0 10%; }
        body section.page section.registration article h1 {
          font-size: 1.8em; }
    body section.page section.header {
      height: 300px; }
      body section.page section.header .logo_conf1 {
        width: 100px;
        height: 100px;
        margin-left: -50px; }
      body section.page section.header .logo_conf2 {
        width: 80%;
        left: inherit;
        top: 21%;
        margin-left: 10%; }
    body section.page section.speakers .speaker.solo {
      height: 200px; }
      body section.page section.speakers .speaker.solo .content {
        font-size: 0.8em; }
        body section.page section.speakers .speaker.solo .content a.button {
          margin: 0 auto;
          padding: 0;
          background-color: transparent;
          width: 100%; }
          body section.page section.speakers .speaker.solo .content a.button span {
            background-color: #FFFFFF;
            padding: 5px 5px 2px;
            text-align: center; }
      body section.page section.speakers .speaker.solo#HeidiBaker .photo {
        width: 200px;
        height: 200px; }
      body section.page section.speakers .speaker.solo#HeidiBaker .content {
        left: 180px;
        right: 20px; }
      body section.page section.speakers .speaker.solo#PaulManwaring .photo {
        width: 200px;
        height: 200px; }
      body section.page section.speakers .speaker.solo#PaulManwaring .content {
        right: 170px;
        left: 20px; }
      body section.page section.speakers .speaker.solo#ToddWhite .photo {
        width: 300px;
        height: 200px; }
      body section.page section.speakers .speaker.solo#ToddWhite .content {
        left: 180px;
        right: 20px; }
      body section.page section.speakers .speaker.solo#MichaelKoulianos .photo {
        width: 200px;
        height: 200px; }
      body section.page section.speakers .speaker.solo#MichaelKoulianos .content {
        right: 160px;
        left: 20px; }
    body section.page section.speakers .speaker.multi article {
      width: 100%;
      height: 200px; }
      body section.page section.speakers .speaker.multi article a.black {
        background-color: rgba(19, 19, 19, 0.3); }
      body section.page section.speakers .speaker.multi article section div.button {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 10px; }
    body section.page section.speaker.page {
      height: 180px;
      padding-top: 40px; }
      body section.page section.speaker.page .content {
        font-size: 0.8em; }
      body section.page section.speaker.page .photo {
        height: 180px; }
      body section.page section.speaker.page#HeidiBaker .photo {
        width: 180px; }
      body section.page section.speaker.page#HeidiBaker .content {
        left: 160px;
        right: 20px; }
      body section.page section.speaker.page#PaulManwaring .photo {
        width: 180px; }
      body section.page section.speaker.page#PaulManwaring .content {
        left: 20px;
        right: 160px; }
      body section.page section.speaker.page#ToddWhite .photo {
        width: 280px; }
      body section.page section.speaker.page#ToddWhite .content {
        left: 160px;
        right: 20px; }
      body section.page section.speaker.page#MichaelKoulianos .photo {
        width: 180px; }
      body section.page section.speaker.page#MichaelKoulianos .content {
        left: 20px;
        right: 160px; } }
@media only screen and (min-width: 1200px) {
  body section.page section.header {
    height: 600px; }
    body section.page section.header .logo_conf1 {
      width: 170px;
      height: 170px;
      top: 19%;
      margin-left: -85px; }
    body section.page section.header .logo_conf2 {
      width: 560px;
      height: 250px;
      top: 37%;
      margin-left: -280px; }
  body section.page section.speakers .speaker.solo#HeidiBaker .content {
    left: 35%; }
  body section.page section.speakers .speaker.solo#PaulManwaring .content {
    right: 33%; }
  body section.page section.speakers .speaker.solo#ToddWhite .content {
    left: 42%; }
  body section.page section.speakers .speaker.solo#MichaelKoulianos .content {
    right: 34%; } }
@media only screen and (min-width: 1600px) {
  body section.page section.header {
    height: 900px; }
    body section.page section.header .logo_conf1 {
      width: 220px;
      height: 220px;
      top: 21%;
      margin-left: -110px; }
    body section.page section.header .logo_conf2 {
      width: 700px;
      height: 300px;
      top: 35%;
      margin-left: -350px; } }
@media only screen and (min-width: 1240px) {
  body {
    font-size: 18px; }
    body section.page section article {
      max-width: 1200px; }
    body section.page section.header .logo_conf {
      width: 800px;
      height: 800px; }
    body section.page section.details,
    body section.page section.registration,
    body section.page section.getInfo {
      padding: 180px 0; }
    body section.page section.speakers .speaker.solo {
      height: 400px; }
      body section.page section.speakers .speaker.solo.solo .photo {
        height: 400px;
        width: 400px; }
    body section.page section.getInfo form input[type="email"] {
      padding: 7px 7px 0px 7px; }
    body section.page section.getInfo form input[type="submit"] {
      line-height: 1.3em;
      padding: 6px 7px 0px 7px; }
    body section.page section.content a.button {
      line-height: 30px;
      padding: 7px 12px 4px; }
    body footer {
      padding-top: 100px; } }
@media only screen and (max-width: 940px) {
  body section.page section.speaker.page {
    padding-left: 3%;
    padding-right: 3%;
    width: 94%; }
    body section.page section.speaker.page .content h1 {
      line-height: inherit; }
  body section.page section.content {
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
    padding-top: 40px; }
    body section.page section.content .left {
      width: 100%;
      margin-right: 0; }
      body section.page section.content .left img {
        max-width: 300px;
        float: inherit; }
    body section.page section.content .right {
      width: 100%; } }
@media only screen and (min-width: 1400px) {
  body section.page section.speakers .speaker.solo#HeidiBaker .content {
    left: 37%; }
  body section.page section.speakers .speaker.solo#PaulManwaring .content {
    right: 36%; }
  body section.page section.speakers .speaker.solo#ToddWhite .content {
    left: 37%; }
  body section.page section.speakers .speaker.solo#MichaelKoulianos .content {
    right: 35%; } }
@media only screen and (max-width: 1900px) {
  section.page section.speakers .speaker.multi article {
    width: 33.33333%;
    height: 300px; } }
@media only screen and (max-width: 1700px) {
  section.page section.speakers .speaker.multi article {
    height: 270px; } }
@media only screen and (max-width: 1500px) {
  section.page section.speakers .speaker.multi article {
    height: 240px; } }
@media only screen and (max-width: 1300px) {
  section.page section.speakers .speaker.multi article {
    height: 210px; } }
@media only screen and (max-width: 1100px) {
  section.page section.speakers .speaker.multi article {
    height: 180px; } }
@media only screen and (max-width: 900px) {
  section.page section.speakers .speaker.multi article {
    height: 150px; } }
@media only screen and (max-width: 690px) {
  section.page section.header {
    height: 300px; }
    section.page section.header .logo_conf1 {
      width: 100px;
      height: 100px;
      margin-left: -50px; }
    section.page section.header .logo_conf2 {
      width: 80%;
      left: inherit;
      top: 21%;
      margin-left: 10%; }
  section.page section.speakers .speaker.solo {
    height: 200px; }
    section.page section.speakers .speaker.solo#HeidiBaker .photo {
      width: 200px;
      height: 200px; }
    section.page section.speakers .speaker.solo#PaulManwaring .photo {
      width: 200px;
      height: 200px; }
    section.page section.speakers .speaker.solo#ToddWhite .photo {
      width: 300px;
      height: 200px; }
    section.page section.speakers .speaker.solo#MichaelKoulianos .photo {
      width: 200px;
      height: 200px; }
  section.page section.speakers .speaker.multi article {
    width: 50%;
    height: 200px; } }
@media only screen and (max-width: 690px) {
  section.page section.speaker.page {
    height: 250px; }
    section.page section.speaker.page .photo {
      height: 250px; }
    section.page section.speaker.page#HeidiBaker .photo {
      width: 200px; }
    section.page section.speaker.page#HeidiBaker .content {
      left: 200px;
      right: 20px; }
    section.page section.speaker.page#PaulManwaring .photo {
      width: 200px; }
    section.page section.speaker.page#PaulManwaring .content {
      left: 20px;
      right: 200px; }
    section.page section.speaker.page#ToddWhite .photo {
      width: 400px; }
    section.page section.speaker.page#ToddWhite .content {
      left: 300px;
      right: 20px; }
    section.page section.speaker.page#MichaelKoulianos .photo {
      width: 200px; }
    section.page section.speaker.page#MichaelKoulianos .content {
      left: 20px;
      right: 200px; }
  section.page section.header {
    height: 300px; }
    section.page section.header .logo_conf1 {
      width: 100px;
      height: 100px;
      margin-left: -50px; }
    section.page section.header .logo_conf2 {
      width: 80%;
      left: inherit;
      top: 21%;
      margin-left: 10%; }
  section.page section.speakers .speaker.solo {
    height: 200px; }
    section.page section.speakers .speaker.solo#HeidiBaker .photo {
      width: 200px;
      height: 200px; }
    section.page section.speakers .speaker.solo#PaulManwaring .photo {
      width: 200px;
      height: 200px; }
    section.page section.speakers .speaker.solo#ToddWhite .photo {
      width: 300px;
      height: 200px; }
    section.page section.speakers .speaker.solo#MichaelKoulianos .photo {
      width: 200px;
      height: 200px; }
  section.page section.speakers .speaker.multi article {
    width: 50%;
    height: 200px; } }
