header {
    position: relative;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;

    nav {

        ul.nav {
            background-color: $gray2;
            position: fixed;
            top: 0;
            z-index: 1000;
            width: 100%;
            max-width: 2000px;
            height: 40px;
        }

        #burger {
            display: none;
            width: 40px;
            height: 25px;
            background-image: url('../images/burger.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: fixed;
            top: 7px;
            right: 5px;
            z-index: 1002;
        }

        ul {

            li {
                display: inline-block;
                margin: 10px 0 0 0;
                padding: 0 10px;
                vertical-align: top;

                &.logo {

                    margin: 0px;

                    a {
                        display: block;
                        width: 40px;
                        height: 30px;
                        margin-top: 5px;
                        background-image: url('../images/iahm_simple.svg');
                        background-repeat: no-repeat;
                        background-position: center;

                        &:hover {
                            border-bottom: none;
                        }
                    }
                }

                a {
                    color: $white;
                    text-decoration: none;
                    display: block;
                    line-height: 20px;

                    &:hover {
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }

        ul.language {
            position: fixed;
            top: 0;
            right: 20px;
            z-index: 1001;

            li {
                display: inline-block;
                line-height: 20px;
                padding: 2px 13px 0 7px;
                border-right: 2px solid rgba($white, 0.9);

                &:last-of-type {
                    border-right: none;
                }

                a {
                    color: rgba($white, 0.9);
                    text-decoration: none;
                    font-size: 0.9em;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 2000px) {
    header {
        nav {
            position: fixed;
            z-index: 998;
            width: 2000px;
            height: 60px;

            ul.language {
                position: relative;
                float: right;

            }
        }
    }
}

@media only screen and (min-width: 1240px) {
    header {
        nav {

            ul.nav {
                height: 60px;
            }

            ul {

                li {
                    margin-top: 20px;

                    &.logo a {
                        width: 55px;
                        height: 40px;
                        margin-top: 10px;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    header {
        nav {

            ul.language {
                top: 40px;
                position: absolute;
                z-index: 999;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    header nav {

        #burger {
            display: block;
        }

        ul.language {
            right: 0;
        }

        ul.nav {

            li {
                display: none;

                &.logo {
                    display: inline-block;
                }
            }

            &.show {
                height: inherit;
                text-align: center;

                li {
                    display: block;
                    padding-bottom: 10px;

                    a {
                        &:hover {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}